# Bot's token, required to function
# Please go to Settings -> Bots -> Create new Bot
# Then copy the token and paste inside .env/.env.examples
TOKEN=
# Bot's prefix, used for command execution
# Default: /
PREFIX=/
# Applies embed's color
# Default: #C29359
EMBED_COLOR=#
# Openrouter API token
# It's optional, leave empty to disable "ask" command
# Please get your api token at "API Keys" on OpenRouter's settings.
GEMINI_API_KEY=
